@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.signoutButton {
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    font-family: "Oswald";
    border-radius: 10px;
}