.factForm {
    text-align:center;
}

.button{
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    font-family: "Oswald";
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #222);
}

.button:hover{
    background-color: #00b4d8;
}